[submodule "tools/issue-cli"]
	path = tools/issue-cli
	url = git@bitbucket.org:mingxiali/issue-cli.git
[submodule "tools/ui-visual-check"]
	path = tools/ui-visual-check
	url = git@bitbucket.org:mingxiali/ui-visual-check.git
